.imgMed {
  width: 38px;
  height: 38px;
  border-radius: 100px;
}

.buttonService {
  width: 308px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  border-radius: 16px;
  border: none;
  color: #fff; /* Cor do texto */
  font-size: 16px;
  cursor: pointer; /* Mostra a mão ao passar o mouse */
  outline: none;
  background: #363637;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #1be29a;
}
.buttonService:hover {
  background: #074e34;
  /* Cor diferente ao passar o mouse */
}
.info {
  display: flex;
}
.dateInformation {
  align-items: center;
  display: flex;
  padding-bottom: 10px;
  color: #afb4b2;
}
.patientInformation {
  font-weight: bold;
}
.titleButton {
}
.cardService {
  width: 500px;
  height: 200px;
  border-radius: 16px;
  background: #202125;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 20px;
}

.agend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.cadServiceMed1 {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.cadServiceMed2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1920px) {
  /* A partir de 768px de largura de tela, faça ajustes de estilo */
  .cardService {
    width: 330px;
    height: 200px;
  }
  .buttonService {
    width: 230px;
  }
}
@media (max-width: 1340px) {
  /* A partir de 768px de largura de tela, faça ajustes de estilo */
  .cardService {
    width: 280px;
    height: 180px;
  }
  .buttonService {
    width: 200px;
  }
}
@media (max-width: 1163px) {
  /* A partir de 768px de largura de tela, faça ajustes de estilo */
  .cardService {
    width: 220px;
    height: 150px;
  }
  .buttonService {
    width: 150px;
    height: 40px;
    font-size: 10px;
  }
  .titleButton {
  }
  .cadServiceMed1 {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 30px;
    font-size: smaller;
  }
  .cadServiceMed2 {
    height: 30px;
    font-size: smaller;
  }
  .imgMed {
    width: 28px;
    height: 28px;
    border-radius: 100px;
  }
}
