.imgMed {
  width: 4.4rem;
  height: 4.4rem;
  margin-right: 0.6rem;
  border-radius: 100%;
}

.buttonService {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0;
  border-radius: 16px;
  border: none;
  color: #fff; /* Cor do texto */
  font-size: 16px;
  cursor: pointer; /* Mostra a mão ao passar o mouse */
  outline: none;
  background: #363637;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #1be29a;
}
.buttonService:hover {
  background: #074e34;
  /* Cor diferente ao passar o mouse */
}
.info {
  display: flex;
}
.dateInformation {
  align-items: center;
  display: flex;
  color: #afb4b2;
}
.patientInformation {
  font-weight: bold;
}
.titleButton {
}
.cardService {
  width: 100%;
  height: 200px;
  border-radius: 16px;
  background: #202125;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1.6rem;
}

.agend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0.6rem 0;
  padding: 0 0.2rem;
}
.cadServiceMed1 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.cadServiceMed2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
