.input-block {
  position: relative;
  margin-top: 0.8rem;
}

.input-block label {
  font-size: 1rem;
  font-weight: 500;
}

.input-block input {
  width: 100%;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--third-background);
  color: var(--text-primary);
  border: 1px solid var(--border);
  outline: 0;
  padding: 1.4rem;
}

.input-block input::placeholder {
  color: var(--text);
}

.input-block input:focus {
  border: 1px solid var(--primary-green);
}

.input-block span {
  display: none;
}

.input-block .invalid-field {
  display: block;
  font-size: 0.8rem;
  color: var(--orange);
}

.input-block .invalid-input {
  border: 1px solid var(--orange);
}