.followUp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 280px;
  height: 81px;
  align-items: center;
  border-radius: 20px;
  background: #202125;
}
.valueCard {
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 1920px) {
  .followUp {
    width: 280px;
    height: 81px;
  }
}
@media (max-width: 1340px) {
  .followUp {
    width: 280px;
    height: 81px;
  }
}

@media (max-width: 1163px) {
  .followUp {
    width: 230px;
    height: 80px;
  }
  .valueCard {
    font-size: 25px;
  }
}
