.simple-input-block {
  position: relative;
  margin-top: 0.8rem;
}

.simple-input-block label {
  font-size: 1rem;
  
  font-weight: 500;
}

.simple-input-block input {
  width: 100%;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--third-background);
  color: var(--text-primary);
  border: 1px solid var(--border);
  outline: 0;
  padding: 1.4rem;
}

.simple-input-block input::placeholder {
  color: var(--text);
}
