.drawer {
  background: #16161b;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 224px;
  height: 100vh;
  padding: 3rem;
  position: fixed;
  left: 0px;
}
.cardLogout {
  width: 180px;
  height: 68px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  background: #202125;
  border-radius: 16px;
  cursor: pointer;
}

.options {
  height: ;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.op {
  color: #98a2ac;
}
.op2 {
  color: #98a2ac;
}

.op:hover {
  color: #1be29a;
  cursor: pointer;
}

.op2:hover {
  color: #1be29a;
  cursor: pointer;
}

.options .active {
  color: #1be29a;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 900px) {
  .drawer {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 8rem;
    padding: 1.6rem 3rem;
    position: absolute;
  }

  .options {
    margin-top: 0.6rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .center {
    display: none;
  }
}
