.patientsConsultsCard {
  width: 316px;
  height: 94px;
  background: #202125;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  margin-bottom: 10px;
  font-size: 16px;
}
.titleAnotation {
  color: #afb4b2;
}
.patientImg {
  width: 30px;
  height: 30px;
}
@media (max-width: 1920px) {
  .patientsConsultsCard {
    width: 316px;
    height: 94px;
  }
  .titleAnotation {
    color: #afb4b2;
  }
  .patientImg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1340px) {
  .patientsConsultsCard {
    width: 316px;
    height: 94px;
    font-size: 14px;
  }
  .titleAnotation {
    color: #afb4b2;
  }
  .patientImg {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 1163px) {
  .patientsConsultsCard {
    width: 230px;
    height: 80px;
  }
  .titleAnotation {
    color: #afb4b2;
  }
  .patientImg {
    width: 20px;
    height: 20px;
  }
}
